<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>TwitterClone</title>
</head>

<body>

  <div class="container">

    <header class="header clearfix">
        <ul class="top_menu clearfix">
          <li><%= link_to "つぶやき一覧", posts_path %></li>
          <li><%= link_to "つぶやく", new_post_path %></li>
        </ul>
    </header>

    <h1 class="image_area">〜Twitter CLONE〜</h1>
    <h2>the simple</h2>

    <table>
      <tr>
        <th>〜つぶやき〜 <%= notice %> </th>
      </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= link_to '詳細', post_path(post.id) %></td>
        <td><%= link_to '編集', edit_post_path(post.id), data: { confirm: '本当に編集してもいいですか？' } %></td>
        <td><%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: '本当に削除してもいいですか？' } %></td>
      </tr>
    <% end %>
    </table>



    <footer class="footer">
      <p>I want to pass the assignment</p>
    </footer>

  </div>

</body>

</html>
